.section_project{
    /* border: 1px solid red; */
    margin-top: 5rem;
}

.section_project > h1{
margin: 0;
}

.projects_head{
font-weight: 700;
margin-bottom: 2rem;
}

.project_contaniner{
    border: 2px solid red;
    /* padding: 1rem; */
}

.projects{
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.left_list{
    /* border: 2px solid white; */
    /* padding: 1rem; */
}
.all_list{
    /* border: 1px solid red; */
    background: var(--color-bg-varients);
    border-radius: 0 0 25px 25px;
}

.all_list:hover{
    border: 1px solid var(--color-primary);
    background: transparent;
}

.project_heading{
    background: var(--color-primary);
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 0 0 25px 25px;
}
.project_h2{
    color: var(--color-bg);
    white-space: nowrap;
}
.projects_name{
 
padding: 2rem 1rem 2rem 1rem;
}

.list_border{
    background: var(--color-bg);
    border: 1px solid var(--color-light);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    flex-direction:row;
    justify-content: space-between;  
    padding: .5rem;
   
}
 

.project_desc{
   padding: 1rem ;
   border-top: 1px solid var(--color-light);
   border-bottom: 1px solid var(--color-light);
}
.view{
    padding-left: 1rem;
    /* width:inherit; */
    border-top: 1px solid var(--color-light);
    display: flex;
    /* border: 1px solid red; */
}