.section_project{
    /* border: 1px solid red; */
    margin-top: 5rem;
    margin-bottom: 7rem;
    height: auto;
}

.section_project > h1{
margin: 0;
}

.projects_head{
/* font-weight: 700; */
margin-bottom: 2rem;
/* font-size: 2rem; */
}

.project_contaniner{
    /* border: 2px solid red; */
    /* padding: 1rem; */
}

.projects{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.left_list{
    cursor: pointer;
}
.all_list{
    /* border: 1px solid red; */
    background: var(--color-bg-varients);
    border-radius: 0 0 25px 25px;
}

.all_list:hover{
    border: 1px solid var(--color-primary);
    background: transparent;
}

.project_heading{
    background: var(--color-primary);
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 0 0 25px 25px;
}
.project_h2{
    color: var(--color-bg);
    white-space: nowrap;
}
.projects_name{
 
padding: 2rem 1rem 2rem 1rem;
}

.list_border{
    background: var(--color-bg);
    border: 1px solid var(--color-light);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    flex-direction:row;
    justify-content: space-between;  
    padding: .5rem;
   
}
 

.project_desc{
   padding: 1rem ;
   border-top: 1px solid var(--color-light);
   border-bottom: 1px solid var(--color-light);
}
.view{
    padding-left: 1rem;
    /* width:inherit; */
    border-top: 1px solid var(--color-light);
    display: flex;
    /* border: 1px solid red; */
}



/* ---------------RIGHT _______________ */

.right_list{
    cursor: pointer;
    width: auto;
}

.react-all{
    background: var(--color-bg-varients);
    border-radius: 0 0 25px 25px;
}
.react-all:hover{
    background: transparent;
    border-radius: 0 0 25px 25px;
    border: 1px solid var(--color-primary);
}
.project-name {
    /* border: 1px solid red; */
    padding: 1rem;
  }
  .project-grids{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1rem;
    row-gap: 2rem;
    height:max-content;
    /* border: 1px solid red; */
  }
  .map{
    /* border: 2px solid green; */
  }

  .project-grids > div {
    /* row-gap: 2rem; */
    margin-top: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .name_project {
    padding: 0.5rem 0 0 0;
    white-space: nowrap;
    display: flex;
    align-items: left;
    /* border: 1px solid white; */
  }

  .discription_react {
    height: auto;
    overflow-wrap: break-word;
    margin-top: 0.5rem;
    flex-grow: 1;
    overflow: auto;
    max-height:500px ;
  }

  .image {
    /* border: 1px solid green; */
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 0.5rem;
    justify-content: left;
    align-items: flex-start;
  }
  .image img {
    /* border: 1px solid green; */
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    border: 1px solid white;
    object-fit: fill;
    box-shadow: 5px 5px 10px hsl(200, 100%, 1%), -5px -5px 10px hsl(0, 0%, 0%);
  }

  .code > a {
    color: white;
  }
  .code > a:hover {
    color: var(--color-primary);
  }

  /* .react_discription{
    -webkit-line-clamp: 2;
  } */

  .react_discription {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    
    
  }

  .discription_react{
    overflow-y: auto;
    border-top: 1px solid var(--color-light);
    /* border-bottom: 1px solid var(--color-light); */
  }
   
  .discription_react::-webkit-scrollbar{
    display: block;
    width: 5px;
    height: 10px;
  }

  .discription_react::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
}

.discription_react::-webkit-scrollbar-track {
    background-color: darkgray;
}

  .read_btn {
    padding: 0.6rem;
    outline: none;
    background: var(--color-primary);
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    /* border: 1px solid var(--color-primary); */
    border-radius: 20px;
    margin-top: 1rem;
  }
  .read_btn:hover {
    border: 1px solid var(--color-primary);
    background: transparent;
    color: white;
  }


  /* ---------------------MEDIUM DEVICES(TABLETS) */
@media screen and (max-width: 1024px) {

  .project_h2{
    margin-bottom: 0;
  }

  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 .5rem 0 .5rem;
  }

  .project_titles{
    font-size: .8rem;
  }

  .view{
    padding: .5rem 0 .5rem .5rem;
    font-size: .6rem;
  }
  .project_heading{
    padding: 1rem;
  }

  .right_list{
    width: auto;
  }

  .project-name{
    padding: 1rem .5rem 1rem .5rem;

  }

  .map{
    /* border: 2px solid red; */
  }
  
  .code{
    /* border: 1px solid yellow; */
    font-size: .8rem;
  }

  .name_project{
    white-space: normal; 
    display: flex;
    align-items: start;
    text-align: left;
    font-size: 1.1rem;
  }

  .discription_react{
    padding: 1px;
    margin: 0;
    /* border: 1px solid yellow; */
    font-size: 0.7rem;
  }
  .react_discription{
    padding: 1px;
    /* border: 1px solid green; */
    font-size: .7rem;
    margin: 0;
    
  }

  .read_btn{
    margin: 5px 0 0 0;
  }

}

@media screen and (max-width:600px) {

  .projects{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .projects_head{
  font-size: 1.5rem;
  }
  .project_h2{
    font-size: 1.2rem;
  }

  .project_heading{
    padding: .2rem;
  }
  .project_heading > h5{
    font-size: .7rem;
  }
  .title{
    padding:  .3rem .5rem 0 .5rem;
    /* align-items: start; */
  }
  .project_titles{
    padding: 0;
    margin: 0;
  }

  .project_desc{
    font-size: .7rem;
    padding: .3rem .2rem .3rem .2rem ;
    border-bottom: none;
    margin: 0;
  }

  .name_project{
    font-size: .8rem;
  }

  .view{
    padding: .5rem .5rem .5rem .5rem;
    font-size: .6rem;
  }

.code{
  font-size: .6rem;
}
.discription_react{
  margin-top: 3px;
}
.discription_react > p{
  margin-top: 3px;
  margin-bottom: 3px;
}
.read_btn{
  font-size: .6rem;
  padding: .3rem;
  font-weight: 800;
}

.discription_react::-webkit-scrollbar{
  display: block;
  width: 0;
}

.discription_react::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.discription_react::-webkit-scrollbar-track {
  background-color: darkgray;
}

}