.contact_container {
  /* border: 1px solid red; */
  margin-bottom: 2rem;
  /* padding: 1rem; */
  margin-top: 2rem;
}

.section_contact {
  margin-top: 5rem;
  margin-bottom: 7rem;
  height: auto;
}

.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid green; */
  /* padding: 1rem; */
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.social_heading {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  background: var(--color-primary);
  border-radius: 0 0 25px 25px;
  margin-bottom: 2rem;
}

.social_heading > h3 {
  color: var(--color-bg);
  padding-bottom: 0;
}

.professional,
.social {
  /* border: 1px solid yellow; */
  padding-bottom: 1rem;
  border-radius: 0 0 25px 25px;
  background: var(--color-bg-varients);
}

.social_div {
  /* border: 1px solid rgb(254, 254, 254); */
  border-radius: 20px;
  background: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.social_div > a {
  color: var(--color-bg);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.social_div > a > label {
  background: var(--color-light);
  display: flex;
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
  color: var(--color-bg);
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.social_img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  background: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.contact_form{

  margin-top: 5rem;
  display: flex;
  flex-direction: row;
justify-content: space-between;
padding: 0 3rem 03rem;
}
.contact_box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
}
.contact_option{
  border: 2px solid black;
  padding: 2rem;
  align-items: center;
  text-align: center;
  background: var(--color-primary);
  border-radius: 20px;
  color: var(--color-bg);
}

.contact_option:hover{
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.contact_icons{
font-size: 2rem;

}
.contact_option > a{
font-weight:500 ;
font-size: 1.2rem;
color: aliceblue;
}

.lets_talk{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
 gap: 2rem;
 width: 70%;
 padding:  0 2rem 0 2rem;
 background: transparent;
}

.lets_talk > textarea , input{
  background: transparent;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-primary);
  resize: none ;
  font-size: 1.1rem;
  color: white;
}

.lets_talk > textarea::placeholder , input::placeholder{
  color:rgb(165, 158, 158)
}

.talk-btn{
  font-size: 1.2rem;
  font-weight: 700;
}